@using MvcStok.Models.Entity
@model List<Tbl_Satislar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Adet</th>

    </tr>
    <tbody>
        @foreach (var sts in Model)
        {
            <tr>
                <th>@sts.SatisId</th>
                <td>@sts.Tbl_Urunler.UrunMarka @sts.Tbl_Urunler.UrunAd</td>
                <td>@sts.Adet</td>
            </tr>
        }
    </tbody>
</table>

