
@{
    ViewBag.Title = "SatinAl";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<form method="post" class="form-group">
    <div class="alert alert-dark"><label>Müşteri: </label><br /><div class="border table-bordered">@ViewBag.Musteri</div></div>
    <div class="alert alert-dark"><label>Ürün: </label><br /><div class="border table-bordered">@ViewBag.Urun</div></div>
    <div class="alert alert-dark"><label>Adet: </label><input type="text" class="form-control" name="Adet" required="required" /></div>
    <div style="margin-top:10px;">
        <button class="btn btn-info" id="btnKaydet">Kaydet</button>
    </div>
    <script>
        $('#btnKaydet').click(function () {
            alert('Satın Alma İşlemi Başarıyla Gerçekleşti!');
        });
    </script>
</form>

